@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://earth911.com/recycling-guide/how-to-recycle-cooking-oil/">How to Recycle Cooking Oil</a>.</p>
</div>
