@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <img src="/midea/twiiter.jpg" width="340" class="mx-auto d-block mt-5" alt="Twitter info">
        </div>
        
        <div class="col-md-4">
            <video width="340" height="640" controls>
                <source src="/midea/global.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        <div class="col-md-4">
            <img src="/midea/graph.jpg" width="340" class="mx-auto d-block" alt="Graph recycle">
        </div>
    </div>
    <p>Learn about <a href="https://earth911.com/recycling-guide/how-to-recycle-cooking-oil/">How to Recycle Cooking Oil</a>.</p>
</div>
